.searchbar-container {
    position: fixed;
    top: 4px;
    left: 450px;
    background-color: white;
    height: 30px;
    width: 400px;
    z-index: 2;
}

.searchbar-container button {
  /* background-color: white; */
}

.searchbar input{
  width: 180px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  /* border-radius: 4px; */
  font-size: 16px;
  padding: 12px 20px 12px 12px;
}
