.signup-form-div {
    display: flex;
    justify-content: center;
    margin: 200px;
    text-align: center;
}

.form-h1 {
    font-size: 50px;
    margin: 20px;
}

.form-h2 {
    font-size: 20px;
}

.signup-inputs-div {
    width: 600px;
    height: 400px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name {
    display: flex;
}

.name input {
    width: 240px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid#C0C0C0;
    margin: 10px;
}
.signup-input, .signup-form-button {
    width: 507px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid 	#C0C0C0;
    margin: 10px;
}
::placeholder {
    color: 	#C0C0C0;
    padding: 10px;
    font-size: 15px;
}
.signup-form-button {
    background-color: #20CE99;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
}

.session-link-p {
    color: 	#C0C0C0;
}

.session-nav-link {
    color: #20CE99;
}