.splash-div {
    margin-top: 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash-section-1 {
    background-color: #20CE99;
    height: 40%;
    display: flex;
    /* justify-content: center;*/
    align-items: center; 
}

.splash-body-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5%;
}

.splash-h1-1, .splash-h1-3 {
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}

.splash-description-1, .splash-description-3 {
    font-size: 30px;
}

.splash-image-1 {
    height: 70%;
    width: 80%;
}
.splash-section-2 {
    height: 30%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash-h1-2 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
}

.splash-description-2 {
    font-size: 15px;
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
}

.splash-section-3 {
    height: 30%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F8FC;
    margin: 3%;
    padding: 30px;
    border: 2px solid #20CE99;
}

.splash-body-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5%;
}
