.stock-details-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.stock-details-div h2 {
    margin: 1%;
    font-weight: bold;
    font-size: 30px;
}

.stock-details-left {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 1%;
}

.stock-orders {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 300px;
    margin: 3%;
    position: fixed;
    top: 50;
    right: 0;
    padding: 5px 5px 10px 5px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: white;
}

.transaction-form-div form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    margin:10px;
}

.transaction-content, .mkt-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.transaction-type {
    width: 100px;
    display: flex;
    justify-content: space-between;
    /* font-size: 20px; */
    /* border-bottom: 1px solid black;
    padding-bottom: 10px; */
}

#highlight {
    border-bottom: 2px solid var(--rh-green);
    padding-bottom: 10px;
    color: var(--rh-green);
}

#none {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.transaction-form-div form div label {
    font-weight: bold;
}

.transaction-form-div form div input {
    border-radius: 5px;
    height: 20px;
    width: 40px;
}

.mkt-price {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.mkt-price label {
    color: var(--rh-green);
}

.transaction-form-div form button {
    height: 35px;
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: 18px;
    border: 2px solid var(--rh-green);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.buying-power {
    font-size: 12px;
    color: var(--rh-green);
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid lightgrey;
}
/* .watchlist-button {
    height: 30px;
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: 15px;
    border: 2px solid var(--rh-green);
    margin-top: 5px;
} */

.stock-graph {
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comp-name {
    font-size: 20px;
    margin-left: 1%;
}

.stock-graph h1 {
    font-size: 40px;
    margin-left: 1%;
    font-weight: bold;
}

.stock-about {
    /* height: 30%; */
    margin: 1%;
    margin-top: 0;
}

.stock-about p {
    margin: 1%;
    font-size: 17px;
}

.company-info {
    display: flex;
    margin: 3%;
    margin-left: 1%;
    justify-content: space-between;
}

.company-info label {
    font-weight: bold;
    color: teal;
}

.company-info label div {
    color: grey;
    margin-top: 6px;
}

.recent-news {
    /* height: 30%; */
    margin: 1%;
}

.company-news-list {
    display: flex;
    flex-direction: column;
}

.company-news-article {
    margin: 1%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 6px 6px 11px -2px rgba(102,99,102,0.7);
}

.company-news-article div {
    width: 50%;
}

.company-news-article a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 2%;
    display: flex;
}

.company-news-article p {
    font-size: 15px;
    color: grey;
    margin: 2%;
}

.company-news-article img {
    width: 40%;
    /* height: 80%; */
}

