.stock-details-div {
    /* background-color: lightblue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.stock-details-div h2 {
    margin: 1%;
    font-weight: bold;
    font-size: 25px;
}

.stock-details-left {
    /* background-color: thistle; */
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 1%;
}

.stock-orders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 80%;
    margin: 1%;
    position: fixed;
    top: 40;
    right: 0;
    padding: 5px 5px 10px 5px;
    border: 1px solid #BFBFBF;
    /* background-color: white; */
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: yellow;
}

.stock-graph {
    /* background-color: yellow; */
    /* height: 60%; */
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stock-about {
    /* background-color: yellow; */
    height: 30%;
    margin: 1%;
    margin-top: 0;
}

.stock-about p {
    margin: 1%;
    font-size: 15px;
}

.company-info {
    display: flex;
    margin: 2%;
    justify-content: space-between;
}

.company-info label {
    font-weight: bold;
    color: teal;
    /* margin: 2%; */
}

.company-info label div {
    color: grey;
}

.recent-news {
    /* background-color: yellow; */
    height: 30%;
    margin: 1%;
}

.company-news-list {
    display: flex;
    flex-direction: column;
}

.company-news-article {
    margin: 1%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 6px 6px 11px -2px rgba(102,99,102,0.7);
}

.company-news-article div {
    width: 50%;
    /* margin: 1%; */
/* background-color: tomato; */
}

.company-news-article a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 2%;
    display: flex;
}

.company-news-article p {
    font-size: 12px;
    margin: 2%;
}

.company-news-article img {
    width: 40%;
    height: 80%;
    /* border: 2px solid black; */
    
}

