<!DOCTYPE html>
<html>
  <head>
    <title>RobinhoodClone</title>
    <%= csrf_meta_tags %>
    <script src="https://kit.fontawesome.com/df58c58326.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
